<ion-navbar *navbar>
    <div style="float:right; display: inline-block;">
        <ion-toggle [(ngModel)]="useCards"></ion-toggle>
    </div>
    <button menuToggle>
        <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Active Referrals</ion-title>
</ion-navbar>

<ion-content>
    <ion-item-group>


        <template ngFor #currentReferral [ngForOf]="referrals" #i="index">
            <ion-item-divider light *ngIf="!useCards && i == 0">Today</ion-item-divider>
            <ion-item-divider light *ngIf="!useCards &&i !== 0 && referrals[i].createdDate.isBefore(referrals[i-1].createdDate)">{{currentReferral.createdDate.calendar(null, momentCalendarDisplay)}}</ion-item-divider>
            <referral-list-item *ngIf="!useCards" [referral]="currentReferral"></referral-list-item>
            <referral-list-card *ngIf="useCards" [referral]="currentReferral"></referral-list-card>
        </template>


    </ion-item-group>
    <ion-list>
        <button ion-item *ngFor="#item of items" (click)="itemTapped($event, item)">
            <ion-icon name="{{item.icon}}" item-left></ion-icon>
            {{item.title}}
            <div class="item-note" item-right>
                {{item.note}}
            </div>
        </button>
    </ion-list>
    <div *ngIf="selectedItem" padding>
        You navigated here from <b>{{selectedItem.title}}</b>
    </div>
</ion-content>
