<ion-navbar *navbar>
    <button menuToggle>
        <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Patients</ion-title>
</ion-navbar>

<ion-content class="has-header components-demo cards-bg social-cards">
    <ion-card *ngFor="#user of gitUsers | async">
        <ion-item>
            <ion-avatar item-left>
                <img src="{{user.avatar_url}}">
            </ion-avatar>
            <h2>{{user.login}}</h2>
            <p>November 5, 1955</p>
        </ion-item>

        <ion-card-content>
            <p>Wait a minute. Wait a minute, Doc. Uhhh... Are you telling me that you built a time machine... out of a DeLorean?!
                Whoa. This is heavy.</p>
        </ion-card-content>

        <ion-row>
            <ion-col>
                <button primary clear small>
                    <ion-icon name='thumbs-up'></ion-icon>
                    <div>12 Likes</div>
                </button>
            </ion-col>
            <ion-col>
                <button primary clear small>
                    <ion-icon name='text'></ion-icon>
                    <div>4 Comments</div>
                </button>
            </ion-col>
            <ion-col center text-center>
                <ion-note>
                    11h ago
                </ion-note>
            </ion-col>
        </ion-row>
    </ion-card>

</ion-content>
    <button fab fab-right fab-bottom royal (click)="refresh()" style="z-index: 999">
        <ion-icon name="refresh"></ion-icon>
    </button>

<!--<ion-toolbar position="bottom">
  <ion-buttons end>
    <button royal (click)="refresh()">
      Refresh
      <ion-icon name="refresh"></ion-icon>
    </button>
  </ion-buttons>
</ion-toolbar>-->

<style>
    .social-cards ion-col {
        padding: 0;
    }
</style>