<button ion-item class="referralListItem">
    <ion-avatar item-left>
        <ion-icon name="thumbs-up" *ngIf="referral.status === ReferralStatus.Yes" style="color: green;"></ion-icon>
        <ion-icon name="thumbs-down" *ngIf="referral.status === ReferralStatus.No" style="color: #c20000;"></ion-icon>
        <ion-icon name="remove-circle" *ngIf="referral.status === ReferralStatus.Considering" style="color: #ffde52;"></ion-icon>
        <ion-icon name="folder-open" *ngIf="referral.status === ReferralStatus.Open"></ion-icon>
        <ion-icon name="briefcase" *ngIf="referral.status === ReferralStatus.Booked" style="color: darkblue;"></ion-icon>
        <ion-icon name="close-circle" *ngIf="referral.status === ReferralStatus.Cancelled" style="color: purple;"></ion-icon>
    </ion-avatar>
    <h2>
        {{ referral.name }}
    </h2>
    <h3>
        {{ referral.hospital }}
    </h3>
    <p>
        <ion-icon name="exit"></ion-icon>
        {{ referral.dischargeDates }}
    </p>
</button>