<ion-card class="referralListCard" style="position: relative;">
    <ion-item>
        <ion-avatar item-left>
            <ion-icon name="thumbs-up" *ngIf="referral.status === ReferralStatus.Yes" style="color: green;"></ion-icon>
            <ion-icon name="thumbs-down" *ngIf="referral.status === ReferralStatus.No" style="color: #c20000;"></ion-icon>
            <ion-icon name="remove-circle" *ngIf="referral.status === ReferralStatus.Considering" style="color: #ffde52;"></ion-icon>
            <ion-icon name="folder-open" *ngIf="referral.status === ReferralStatus.Open"></ion-icon>
            <ion-icon name="briefcase" *ngIf="referral.status === ReferralStatus.Booked" style="color: darkblue;"></ion-icon>
            <ion-icon name="close-circle" *ngIf="referral.status === ReferralStatus.Cancelled" style="color: purple;"></ion-icon>
        </ion-avatar>
        <h2>{{ referral.name }}</h2>
        <p>{{ referral.createdDate.calendar() }}</p>
    </ion-item>

    <ion-card-content style="padding-bottom: 0;">
        <ion-list>
            <ion-item>
                <ion-icon name="medkit"></ion-icon>
                {{ referral.hospital }}
            </ion-item>
            <ion-item>
                <ion-icon name="exit"></ion-icon>
                {{ referral.dischargeDates }}
            </ion-item>
        </ion-list>
    </ion-card-content>

    <!--<ion-item>-->
        <button primary clear item-right style="margin: 0; float: right;">
            <ion-icon name="open"></ion-icon> View
        </button>
    <!--</ion-item>-->

    <!--<button fab fab-bottom fab-right>-->
        <!--<ion-icon name="open"></ion-icon>-->
    <!--</button>-->

</ion-card>